.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f1f1f1;

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #00a5a1;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 0.5rem 1rem;

    .act {
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        color: darken(#00a5a1, 25%);
      }
    }
  }

  .sectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    // flex: 1;
    padding: 1rem;

    .sec-card {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: flex-start;
      color: #fff;
      font-size: 16px;

      background-color: #00a5a1;
      min-width: 200px;
      max-width: 200px;
      min-height: 100px;
      max-height: 100px;
      margin: 0.5rem;
      padding: 1rem;
      border-radius: 8px;
      cursor: pointer;

      transition: all 0.5s ease;
      &:hover {
        background-color: darken(#00a5a1, 25%);
      }
    }
  }
}
