.login {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #00a5a1;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 22em;
    max-width: 22em;
    height: 22em;
    max-height: 22em;
    border: 8px solid #ffffffb3;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
    align-items: center;

    .imagem_classe {
      width: 18em;
      
    }

    .title {
      font-size: 24px;
      color: #00a5a1;
      font-weight: bold;
      text-align: center;
    }
  }
}
