.form-all {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #f1f1f1;

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #00a5a1;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;

    .act {
      cursor: pointer;
      transition: all 0.5s ease;
      &:hover {
        color: darken(#00a5a1, 25%);
      }
    }
  }

  .questions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    // align-items: flex-start;
    flex: 1;
    padding: 1rem;
    overflow: auto;

    .q-card {
      display: flex;
      flex: 1;
      flex-direction: column;
      color: darken(#00a5a1, 25%);
      font-size: 16px;
      font-weight: bold;
      border: 1px solid #00a5a1;
      margin: 0.5rem;
      padding: 1rem;
      border-radius: 4px;
      transition: all 0.5s ease;
    }

    .respostas {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      .r-card {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: flex-end;
        color: #fff;
        font-size: 16px;

        background-color: #00a5a1;
        min-width: 200px;
        max-width: 200px;
        margin: 0.5rem;
        padding: 1rem;
        border-radius: 8px;
        // cursor: pointer;

        // transition: all 0.5s ease;
        // &:hover {
        //   background-color: darken(#00a5a1, 25%);
        // }
      }
    }
  }
  .salvar{
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    margin-bottom: 0.5rem;
    padding: 0rem 1rem;
    .btn_salvar {
      margin: 0.5rem;
      border-radius: 8px;
      background-color: #00a5a1;
      border-color: #00a5a1;
      transition: all 0.5s ease;
      &:hover {
        background-color: darken(#00a5a1, 25%);
      }

    }
    .modal-content {
      background-color: #00a5a1;
    }
  }
  
}
